.distance {
  top: 0;
  right: 0;
  position: absolute;
}

.card {
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.card ul {
  list-style: none;
  padding-inline-start: 0px;
}

.card-img {
  height: 50px;
  width: 50px;
}
.card-title {
  font-weight: 500;
  font-family: "Segoe UI ", Tahoma, Geneva, Verdana, sans-serif;
}

.info {
  line-height: 8px;
}