.navbar {
  z-index: 1;
}

/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat' !important;
  font-style: normal;
  font-weight: 400;
  src: local('Caveat Regular'), local('Caveat-Regular'),
       url('../../fonts/caveat-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

.nav a, .nav-item {
  color: white;
}

.navbar-brand img{
  margin-right: -4px;
}

.fas {
  margin-right: 4px;
}

.navbar-brand {
  font-size: 1.5em;
  color: white !important;
}

.nav a,
.nav-link {
  font-size: 1.2em;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#basic-example-nav {
  margin-right: 100px;
}
