.markerimg {
  display: block;
  size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 1000px;
}
.roundedmarker {
  width: 90px;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  border-radius: 1000px;
}
